#intro
  .wrapper
    .desc
      Продажа парфюмерии
      Jo Malone
      в Москве

    .about
      От официального диллера по специальным ценам только до конца месяца.

    .form-container
      .top-form
        %input{type: :text, name: 'order[username]', placeholder: 'Введите ваше имя'}
        %input{type: :text, name: 'order[phone]', placeholder: 'Введите ваш номер телефона'}
        .button#order-button
          Заказать каталог

      .form-text
        Оставьте заявку до
        %br
        %span.green 5 августа
        и получите каталог со скидкой
        %br
        в
        %span.green 2 000 рублей


.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!